name: CI

on:
  push:
  pull_request:

jobs:
  test-linux:
    name: Test on Linux
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install UV
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          uv venv
          source .venv/bin/activate
          uv sync

      - name: Run tests
        run: |
          source .venv/bin/activate
          python -m pytest

  test-macos:
    name: Test on macOS
    runs-on: macOS-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install UV
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          uv venv
          source .venv/bin/activate
          uv sync

      - name: Run tests
        run: |
          source .venv/bin/activate
          python -m pytest

  test-windows:
    name: Test on Windows
    runs-on: windows-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install UV
        run: |
          curl -LsSf https://astral.sh/uv/install.ps1 | powershell
          echo "$env:USERPROFILE\.cargo\bin" >> $env:GITHUB_PATH

      - name: Install dependencies
        run: |
          uv venv
          .\.venv\Scripts\activate
          uv sync

      - name: Run tests
        run: |
          .\.venv\Scripts\activate
          python -m pytest
